In [1]:
import jsonlines
from tqdm import tqdm
import pandas as pd 
from nltk.tokenize import word_tokenize

In [2]:
df = pd.DataFrame(columns = ['Title', 'Content', 'Year']) 

with jsonlines.open('WP-corpus/data/TREC_Washington_Post_collection.v2.jl') as reader:
    for obj in tqdm(reader):        
        if '2018' in str(obj['published_date']):
            content = ""
            for item in obj['contents']:
                if 'content' in item.keys():                   
                    content  = content + " " + str(item['content'])
            df = df.append({'Title' : obj['title'], 'Content' : content, 'Date' : obj['published_date']},  
                ignore_index = True)

595037it [01:26, 6916.07it/s]

In [3]:
def get_score(text, query):
    score = 0
    
    query_tokens = word_tokenize(query)
    for token in query_tokens:
        if token in text:
            score +=1
            
    return score

In [4]:
# add columns for topic
topic1 = "presendential elections" # made something up for now 
df['topic1'] = 0
print(df.columns)

for index, row in df.iterrows():
    score = get_score(row['Content'], topic1)
    row['topic1'] = score

# sort
df.sort_values(['topic1'], ascending = False, inplace = True)
df.head()

Index(['Title', 'Content', 'Year', 'Date', 'topic1'], dtype='object')

,Title,Content,Year,Date,topic1
0,"50 years ago, Kennedy’s order empowered federa...","Politics 50 years ago, Kennedy’s order empowe...",NaN,1.327020e+12,0
171,Why ‘Game of Thrones’ is obsessed with an obsc...,Act Four Why ‘Game of Thrones’ is obsessed wi...,NaN,1.431522e+12,0
158,Capitals benefiting from a more balanced offen...,Express Capitals benefiting from a more balan...,NaN,1.420632e+12,0
159,D.C. open houses Jan. 24-25,Where We Live D.C. open houses Jan. 24-25 By ...,NaN,1.422018e+12,0
160,This year’s “Best Children’s Album” Grammy nom...,On Parenting This year’s “Best Children’s Alb...,NaN,1.422018e+12,0